{% extends 'basetemplate.html' %}

{% block title %}หน้าแรก{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow">
        <div class="card-body text-center">
            <h3 class="card-title text-primary">ยินดีต้อนรับ</h3>
            <p class="card-text">เข้าสู่เว็บไซต์ของเรา! หวังว่าคุณจะมีประสบการณ์ที่ดีในการใช้งาน</p>
            <p class="card-text">เข้าสู่เว็บไซต์ของเรา! หวังว่าคุณจะมีประสบการณ์ที่ดีในการใช้งาน</p>
            <p class="card-text">เข้าสู่เว็บไซต์ของเรา! หวังว่าคุณจะมีประสบการณ์ที่ดีในการใช้งาน</p>
        </div>
    </div>
</div>
{% endblock %}
